.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      font-weight: bolder;
      color: rgba(0, 0, 0, 0.689);
      cursor: pointer;
      position: relative;
    }

    .nav-link-dropdown{
      position: absolute;
      top: 90%;
      right: 0%;
      padding: 8px 8px;
      background-color: white;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.297);
      border-radius: 5px;
      color: rgb(77, 77, 77);
      font-size: small;
      font-weight: 200;
    }

    .nav-link:hover{
      color: black;
      transition: all .6s ease;
    }

  }
}
