.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 450px;

    @media screen and (max-width: 800px) {
     width: 360px;   
    }
}

h2{
    margin: 10x 0;
}

.buttons-container{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}