.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;

    @media screen and (max-width: 800px) {
        width: 360px;
        margin-left: 12px;
    }
}

h2{
    margin: 10x 0;
}